# Independent project Week 4

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question.

# Importating Libraries

In [0]:
# Importing the libraries for analysis
import pandas as pd

# Reading the Data of our csv file

In [3]:
# we read the data from the csv file and create a dataframe(df)

electric_cars = pd.read_csv('/content/Autolib_dataset (2).csv',delimiter=",")
electric_cars.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# Accessing our Data sets info (rows columns etc)

In [4]:
electric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Cleaning our data set

In [5]:
# We shall use 5 data cleaning procedures
# The first one is Validity
# We shall drop the columns unnecesary to our analysis
# Then we check our dataset's info again to confirm

electric_cars.drop(['Displayed comment','Geo point','Address','Cars'], axis=1, inplace =True)
electric_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar counter      5000 non-null   int64
 1   Utilib counter       5000 non-null   int64
 2   Utilib 1.4 counter   5000 non-null   int64
 3   Charge Slots         5000 non-null   int64
 4   Charging Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   ID                   5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Postal code          5000 non-null   int64
 9   Public name          5000 non-null   object
 10  Rental status        5000 non-null   object
 11  Scheduled at         47 non-null     object
 12  Slots                5000 non-null   int64
 13  Station type         5000 non-null   object
 14  Status               5000 non-null   object
 15  Subscription status  5000 non-null   object
 16  year                 5000 non-null   int64
 17  month                5000 non-null   int64
 18  day                  5000 non-null   int64
 19  hour                 5000 non-null   int64
 20  minute               5000 non-null   int64
dtypes: int64(11), object(10)
memory usage: 820.4+ KB

In [8]:
# Next we check our data for completeness
# We check for null values across all rows 

electric_cars.isnull()

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...    day   hour  minute
0               False           False               False  ...  False  False   False
1               False           False               False  ...  False  False   False
2               False           False               False  ...  False  False   False
3               False           False               False  ...  False  False   False
4               False           False               False  ...  False  False   False
...               ...             ...                 ...  ...    ...    ...     ...
4995            False           False               False  ...  False  False   False
4996            False           False               False  ...  False  False   False
4997            False           False               False  ...  False  False   False
4998            False           False               False  ...  False  False   False
4999            False           False               False  ...  False  False   False

[5000 rows x 21 columns]

In [10]:
# Do the same for columns

electric_cars.isnull().sum()

Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
ID                        0
Kind                      0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [11]:
# Hence we now drop all those that had null values to confirm 
# completeness
electric_cars_dropped =electric_cars.dropna( axis=1)
electric_cars_dropped.isnull().sum()

Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [0]:
# Next property is consistency 
# But in the case of our dataset there were no duplicates
# 
electric_cars_dropped[electric_cars_dropped.duplicated()]
clean_data = electric_cars_dropped.drop_duplicates()

In [16]:
# Finally we check for uniformity
# in years months days hours and minutes
clean_data['Date_time'] =pd.to_datetime(clean_data[['year','month','day','hour','minute']])
clean_data.head()

   Bluecar counter  Utilib counter  ...  minute           Date_time
0                0               0  ...      43 2018-04-08 11:43:00
1                6               0  ...      24 2018-04-06 07:24:00
2                3               0  ...      14 2018-04-03 20:14:00
3                3               1  ...      37 2018-04-04 04:37:00
4                3               0  ...      23 2018-04-08 17:23:00

[5 rows x 21 columns]

# Clean Data-set Importation

In [0]:
# We shall export the dataset using the function _csv
# as shown below

clean_data.to_csv('autolib__dataset_cleaned.csv')

# Problem Questions for analysis

In [18]:
#identifyng the city of paris only with its values in various columns
# 
clean_data_paris = clean_data[clean_data['City']== 'Paris']
clean_data_paris

      Bluecar counter  Utilib counter  ...  minute           Date_time
0                   0               0  ...      43 2018-04-08 11:43:00
1                   6               0  ...      24 2018-04-06 07:24:00
3                   3               1  ...      37 2018-04-04 04:37:00
4                   3               0  ...      23 2018-04-08 17:23:00
5                   0               0  ...       2 2018-04-06 07:02:00
...               ...             ...  ...     ...                 ...
4992                0               0  ...       1 2018-04-09 23:01:00
4994                0               0  ...      49 2018-04-01 20:49:00
4996                4               0  ...      56 2018-04-04 16:56:00
4997                1               0  ...       1 2018-04-01 07:01:00
4999                4               0  ...       2 2018-04-08 10:02:00

[2816 rows x 21 columns]

In [20]:
# Finding the most frequent time an electic blue car 
# is picked up during the day in the month of april
blue_car = clean_data_paris['Bluecar counter'].groupby(clean_data['Date_time'])
blues_car_sum = blue_car.sum()
blues_car_sum.sort_values(ascending = False)

Date_time
2018-04-06 15:07:00    12
2018-04-05 07:34:00    12
2018-04-06 22:29:00    11
2018-04-06 05:52:00    11
2018-04-02 01:33:00    10
                       ..
2018-04-05 22:09:00     0
2018-04-05 22:12:00     0
2018-04-05 22:13:00     0
2018-04-05 22:16:00     0
2018-04-01 00:00:00     0
Name: Bluecar counter, Length: 2526, dtype: int64

In [23]:
# Most frequent time for returning the cars
frequent_time = clean_data_paris['Bluecar counter'].groupby(clean_data['Date_time'])
frequent_time_count = frequent_time.count()
frequent_time_count.sort_values(ascending = False).head(1)

Date_time
2018-04-06 05:52:00    4
Name: Bluecar counter, dtype: int64

In [24]:
# Most frequently visited station
clean_data_paris[(clean_data_paris['Kind'] == 'STATION') & (clean_data_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values( ascending = False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [25]:
#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?
clean_data_paris[(clean_data_paris['Kind'] == 'STATION') & (clean_data_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False).head(1)
#Themost frequented station for blue cars does not match its postal code

Postal code
75015    220
Name: Postal code, dtype: int64

In [29]:
# Utilib counter
# Most popular time to return the cars
frequent_time = clean_data_paris['Utilib counter'].groupby(clean_data['Date_time'])
frequent_time_count = frequent_time.count()
frequent_time_count.sort_values(ascending = False).head(1)

Date_time
2018-04-06 05:52:00    4
Name: Utilib counter, dtype: int64

In [31]:
# Utilib counter 1.4
# Find the most popular time of the day for picking up a (Utilib) 
# in Paris during april 2018
blue_car = clean_data_paris['Utilib 1.4 counter'].groupby(clean_data['Date_time'])
blue_car_sum = blue_car.sum()
blue_car_sum.sort_values(ascending = False)

Date_time
2018-04-06 13:55:00    3
2018-04-04 03:56:00    2
2018-04-04 07:52:00    2
2018-04-02 05:29:00    2
2018-04-03 05:17:00    2
                      ..
2018-04-06 15:29:00    0
2018-04-06 15:28:00    0
2018-04-06 15:07:00    0
2018-04-06 15:05:00    0
2018-04-01 00:00:00    0
Name: Utilib 1.4 counter, Length: 2526, dtype: int64

In [32]:
# Utilib counter
# Identify the most popular hour of the day for picking up a Utilib
#in the city of Paris over the month of April 2018
blue_car = clean_data_paris['Utilib counter'].groupby(clean_data['Date_time'])
blues_car_sum = blue_car.sum()
blues_car_sum.sort_values(ascending = False)

Date_time
2018-04-08 08:19:00    2
2018-04-05 18:10:00    2
2018-04-04 08:04:00    2
2018-04-05 06:39:00    2
2018-04-02 07:52:00    2
                      ..
2018-04-06 16:06:00    0
2018-04-06 16:05:00    0
2018-04-06 16:00:00    0
2018-04-06 15:57:00    0
2018-04-01 00:00:00    0
Name: Utilib counter, Length: 2526, dtype: int64

In [33]:
# Utilib 1.4
# what is the most populart time for returning cars?
frequent_time = clean_data_paris['Utilib 1.4 counter'].groupby(clean_data['Date_time'])
frequent_time_count = frequent_time.count()
frequent_time_count.sort_values(ascending = False).head(1)

Date_time
2018-04-06 05:52:00    4
Name: Utilib 1.4 counter, dtype: int64